*{margin: 0 auto}
#content{
	width: 100%;
	height: 25%;

}
body{
	width: 100%;
	height: 100%;
	
}

header{
	
	background-size: 100%;
    background-color: rgb(255, 255, 255);	
	width: 15%x;
	height: 15%;
}
header>a>img{
	width:90;
	height: 80px;
	margin-left: 50px;
	margin-top: 15px;
}
nav{
	width: 100%;
	height: 27%;
}
.menu{
	list-style:none;
	border:1px solid #c0c0c0;
	float:left;
	margin-left: 4%;

	

	}
	
	.menu li{
		position:relative;
		float:left;
		border-right:1px solid #c0c0c0;
	    font-size: 100%;

	}
	
	
		.menu li a{color:#333; text-decoration:none; padding: 5px 10px; display:block;}
	
	.menu li a:hover{
	background:#333;
	color:#fff;
	-moz-box-shadow:0 3px 10px 0 #CCC;
	-webkit-box-shadow:0 0px 0px 0 #ccc;
	text-shadow:0px 0px 15px #fff;
	}
	
	.menu li  ul{
		position:absolute;
	
	
		background-color:#fff;
		display:none;
		}
	
		.menu li:hover ul, .menu li.over ul{display:block;}
	
.menu li ul li{
	border:1px solid #c0c0c0;
	display:block;
	width:150px;
	
	}


	  .caixa {
		width: 100%;
		height: 350px;
		
		position: relative;
		overflow: hidden;
		text-align: center;
		font-size: 100%;
		margin-left: 0%;
	  }
	  
	  .grande {
		display: grid;
		grid-template-columns: 4fr repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		
	   }
	  
	  .pequena-1 {
		border: 1px solid black;
		color: rgb(19, 18, 18);
		height: 113%;
		margin-top: 100px;
		margin-left: 8%;
		
	  }
	  
	  .pequena-2 {
		border: 1px solid black;
		height: 170%;
		margin-left: 50%;
		font-size:100% ;
		
		
	  }
	  
	  
	
	  div>div>a{
		width: 20%;
		
		height: 100%;
		background-size: 100%;
		font-size: 100%;
		color:#0e0e0e;
		margin: 12px;
		align-items: center
	}
	  
.btn{
    margin-top: 20px;
    display: inline-block;
    font-size: 100%;
    color:rgb(20, 18, 18);
    background: var(--black);
    border: 5px;
    cursor: pointer;
	border: black;
	width: 80%;
	height: 13rem;
	color:#050505;
	text-decoration: none;
	border:1px solid #c0c0c0;
	text-align: center;
	
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}


aside>img{
	margin-left: 9%;
	margin-top: 4%;
}



footer{
	width: 98%;
	height: 10%;
	border: 1px solid black;
	margin-top: 4%;
   }
  
   footer>p{
	padding-top: 2%;
	font-size: 18px;
	color:#080808;
	
	text-align: center;

}

article{
    height: 100%;
    width: 90%;
    border: 1px solid black;
    margin-top: 10%;
}


article>div>a{
    display: grid;
    margin-top: 1%;
    text-decoration: none;
    border: 1px solid black ;
    width: 90%;
    font-size: 20px;
   
    height: 100%;
}