<!DOCTYPE html>
<html>
<head>
	<title>Eventos</title>
	<link rel="stylesheet" type="text/css" href="Eventos.css">
</head>

<body>
<header>

		<a href="QrPro.html "> <img src="Logo.png" alt="QS TEC"></a> 
	
</header>
<nav>
	<ul class="menu">
		  <li><a href="PaginaInicial.html">Home</a></li>
		  <li><a href="sobre.html">Sobre</a></li>
		 <li><a href="Eventos.html">Eventos</a>
				   <ul>
						<li><a href="#">Formações</a></li>
						<li><a href="#">Workshop</a></li>
						<li><a href="#">Conferencias</a></li>
					 </ul>
			  </li>
			  <li><a href="Associar.html">Associar</a></li>
		  <li><a href="#">Contatos</a></li>
		  
  </ul>


  </nav> 
		<article>
			
			
			<div class="caixa grande">
				<div class="caixa pequena-1 centralizar-conteudo">
                    <p> formações</p>
                    <p> Workshops</p>  
                      <p> Conferencias</p>
                </div>
				<div class="caixa pequena-2 centralizar-conteudo"> 
	
					<a href="#" > Como Associar</a>
					<a href="#" class="btn">Seja um socio</a>
					<a href="#" >Mais informação</a>
				
				
				
				</div>
				
			  </div>

			<article>
			
		   </article>


		





	 <article>
	
		<img src="texto.jpg"width="20%" height="20%">
	<img src="video.jpg"width="20%" height="20%">
	<img src="mapa.jpg" width="20%" height="20%">


	</article>
	













			



<footer>  <p>CVDigital Copy Right 2021</p></footer>
</body>
</html>