<!DOCTYPE html>
<html>
<head>
	<title>slide</title>
	<link rel="stylesheet" type="text/css" href="formulario candidatura.css.css">
</head>
<body>
	<div id="content"> 
<header>

		<a href="QrPro.html "> <img src="Logo.png" alt="QS TEC"></a> 

</header>
<nav>
	<ul class="menu">
		  <li><a href="PaginaInicial.html">Home</a></li>
		  <li><a href="sobre.html">Sobre</a></li>
		 <li><a href="Eventos.html">Eventos</a>
				   <ul>
						<li><a href="#">Formações</a></li>
						<li><a href="#">Workshop</a></li>
						<li><a href="#">Conferencias</a></li>
					 </ul>
			  </li>
			  <li><a href="Associar.html">Associar</a></li>
		  <li><a href="#">Contatos</a></li>
		  
  </ul>


  </nav> 
		<section>
            <h1> Formulario de candidatura</h1>

            <link rel="stylesheet" type="text/css" href="estilo.css">
            <form action="#" method="post">
              <fieldset>
                  
                  <div class="campo">
                      <label for="email">Nome do Projeto</label>
                      <input type="text" id="email" name="email" style="width: 30%" value="">
                  </div>
                  <div class="campo">
                      <label for="telefone">Objectivos</label>
                      <input type="text" id="telefone" name="telefone" style="width: 80%" value="">
                  </div>
                  <div class="campo">
                    <label for="telefone">Finalidade Social</label>
                    <input type="text" id="telefone" name="telefone" style="width: 80%" value="">
                </div>
          
                  <fieldset class="grupo">
                      <div class="campo">
                          <label for="cidade">Tempo na empresa</label>
                          <input type="text" id="cidade" name="cidade" style="width: 80%" value="">
                      </div>
                     
                  </fieldset>
            
                  <div class="campo">
                      <label for="mensagem">Resumo da candidatura</label>
                      <textarea rows="6" style="width: 20em" id="mensagem" name="mensagem"></textarea>
                  </div>
            
                  <div class="campo">
                      <label>Newsletter</label>
                      <label>
                          <input type="checkbox" name="newsletter" value="1"> Formação
                      </label>
                      <label>
                        <input type="checkbox" name="newsletter" value="1">Workshop
                    </label>
                    <label>
                        <input type="checkbox" name="newsletter" value="1">Webinar
                    </label>
                    <label>
                        <input type="checkbox" name="newsletter" value="1"> Conferencia
                        <div class="campo">
                            <label for="email">URL do Projecto - Rede social</label>
                            <input type="text" id="email" name="email" style="width: 80%" value="">
                        </div>
                          
                    </label>
                        <label>
                            </div>
                            <div class="campo">
                                <label>Termos de Aceitação Codigo de Etica e Proteção de Dados</label>
                                <label>
                                    <input type="checkbox" name="newsletter" value="1"> Aceitar
                                </label>
                                <label>
                                  <input type="checkbox" name="newsletter" value="1">Rejeitar
                              </label>

    

     
      <button type="submit" name="submit">Enviar</button>
      <input type="reset" value="Limpar"
              </fieldset>
            </form>
</fieldset></div></fieldset>
</form>

</section>




</body></html>
















