<link rel="stylesheet" type="text/css" href="estilo1.css">

<div id="content"> 
    <header>
    
            <a href="QrPro.html "> <img src="Logo.png" alt="QS TEC"></a> 
        <nav>
        <a href="QrPro.html">Home</a>
        <a href="Novidade.html">Login</a>
        <a href="Exemplos.html",>Menu</a>
        <a href="#">Sobre </a>
        <a href="Sobre.html">Ajuda</a>
    </header>
    
         
    
            </nav>

            <section> <h1> Pagamento de Cotas</h1></section>
    
<form action="#" method="post">
  <fieldset>
      <fieldset class="grupo">
          <div class="campo">
              <label for="nome">Nome</label>
              <input type="text" id="nome" name="nome" style="width: 10em" value="">
          </div>
          <div class="campo">
              <label for="snome">Sobrenome</label>
              <input type="text" id="snome" name="snome" style="width: 10em" value="">

      <fieldset class="grupo">
          <div class="campo">
              <label for="cidade">Perido</label>
              <input type="text" id="cidade" name="cidade" style="width: 10em" value="">
          </div>
          <div class="campo">
              <label for="estado">Categoria</label>
              <select name="estado" id="estado">
                  <option value="">-------------------</option>
                  <option value="PR">socio efetivo</option>
                  <option value="PR">socio não efetivo</option>
                  <option value="PR">socio colaborador</option>
                  <option value="PR">socio benemérito</option>
                  <option value="PR">socio honorário</option>
              </select>
          </div>
      

      <button ><a href="QrPro.html">Enviar</a></button>
      <input type="reset" value="Limpar">
  </fieldset>
</form>
