<!DOCTYPE html>
<html>
<head>
	<title>quotas</title>
	<link rel="stylesheet" type="text/css" href="quotas.css">
</head>
<body>
	<div id="content"> 
<header>

		<a href="QrPro.html "> <img src="Logo.png" alt="QS TEC"></a> 
	
</header>

     

<nav>
	<ul class="menu">
		  <li><a href="PaginaInicial.html">Home</a></li>
		  <li><a href="sobre.html">Sobre</a></li>
		 <li><a href="Eventos.html">Eventos</a>
				   <ul>
						<li><a href="#">Formações</a></li>
						<li><a href="#">Workshop</a></li>
						<li><a href="#">Conferencias</a></li>
					 </ul>
			  </li>
			  <li><a href="Associar.html">Associar</a></li>
		  <li><a href="#">Contatos</a></li>
		  
  </ul>


  </nav> 



     

		</nav>
		<section>
            <h1> Formulario de candidatura</h1>

            <link rel="stylesheet" type="text/css" href="estilo.css">
            <form action="#" method="post">
              <fieldset>
                  <fieldset class="grupo">
                      <div class="campo">
                          <label for="nome">Nome</label>
                          <input type="text" id="nome" name="nome" style="width: 20em" value="">
                      </div>
                      <div class="campo">
                          <label for="snome">Sobrenome</label>
                          <input type="text" id="snome" name="snome" style="width: 20em" value="">
                      </div>
                  </fieldset>
                  <fieldset class="grupo">
                    <div class="campo">
                        <label for="nome">E-mail</label>
                        <input type="text" id="nome" name="nome" style="width: 20em" value="">
                    </div>
                    <div class="campo">
                        <label for="snome">Contatos</label>
                        <input type="text" id="snome" name="snome" style="width: 20em" value="">
                    </div>
                </fieldset>
                  <div class="campo">
                      <label for="email">Url- Rede Social</label>
                      <input type="text" id="email" name="email" style="width: 54%" value="">
                  </div>
                  
                      <div class="campo">
                          <label for="estado">País</label>
                          <select name="estado" id="estado">
                              <option value="">-------------------</option>
                              <option value="PR">Cabo Verde</option>
                              <option value="PR">Angola</option>
                              <option value="PR">Guine-Bissau</option>
                              <option value="PR">Santome e Principe</option>
                              <option value="PR">Portugal</option>
                          </select>
                      </div>
                  </fieldset>
            
                 
  
      </fieldset>
      <div class="campo">
          <label>Tipo de socio</label>
          <label>
              <input type="radio" name="sexo" value="masculino"> Membro 
          </label>
          <label>
              <input type="radio" name="sexo" value="feminino"> Individual
          </label>
          <label>
            <input type="radio" name="sexo" value="feminino"> Institucional
        </label>
        
      </div>
      <div class="campo">
        <label>Tipo de Socio</label>
        <label>
            <input type="radio" name="sexo" value="masculino"> Quota Trimestral
        </label>
        <label>
            <input type="radio" name="sexo" value="feminino"> Quota Semestral
        </label>
        <label>
          <input type="radio" name="sexo" value="feminino"> Quota Anual
      </label>
      
    </div>

    <div class="campo">
        <label>Forma de Pagamento</label>
        <label>
            <input type="radio" name="sexo" value="masculino"> Tranferencia Bancaria
        </label>
        <label>
            <input type="radio" name="sexo" value="feminino"> Cartão visa/Master Card
        <label>
          <input type="radio" name="sexo" value="feminino"> Cryptomeodas
      </label>
      <fieldset class="grupo">
        <div class="campo">
            <label for="nome">Nif</label>
            <input type="text" id="nome" name="nome" style="width: 20em" value="">
        </div>
   
      

      <button type="submit" name="submit">Enviar</button>
      <input type="reset" value="Limpar"
              </fieldset>
            </form>
</fieldset></div></fieldset>
</form>

</section>


<aside>
	
    <img src="texto.jpg"width="20%" height="20%">
<img src="video.jpg"width="20%" height="20%">
<img src="mapa.jpg" width="20%" height="20%">


 </aside>

 <footer>  <p>CVDigital Copy Right 2021</p></footer>
</body></html>
















