<!DOCTYPE html>
<html>
<head>
	<title>slide</title>
	<link rel="stylesheet" type="text/css" href="css/workshops.css">
</head>
<body>
	<div id="content"> 
<header>

		<a href="QrPro.html "> <img src="Imagens/Logo.png" alt="QS TEC"></a> 
	<nav>
	<a href="QrPro.html">Home</a>
	<a href="Novidade.html">Noticias</a>
	<a href="Exemplos.html",>Exemplos</a>
    <a href="#">Lojas </a>
    <a href="Sobre.html">Sobre</a>
</header>

<section>
<h1> workshops</h1>
<hr/><hr/>
<a href="http://www.abclima.ggf.br/sbcg2018/site/"style="text-decoration:none" ><P> <b>29/01 </b> Increção no evento</P> </a>
<hr/><hr/>
<a href="http://www.abclima.ggf.br/sbcg2018/site/"style="text-decoration:none" ><P> <b>07/02 </b> Apresentação de Propostas</P> </a>
<hr/><hr/>
<a href="http://www.abclima.ggf.br/sbcg2018/site/"style="text-decoration:none" ><P> <b>17/02 </b> Apresentação de relatorio de atividade</P> </a>
<hr/><hr/>
<a href="http://www.abclima.ggf.br/sbcg2018/site/"style="text-decoration:none" ><P> <b>09/03 </b> Reunião da Assembleia</P> </a>
<hr/><hr/>

<a href="http://www.abclima.ggf.br/sbcg2018/site/"style="text-decoration:none" ><P> <b>01/04 </b> Candidaturas a cargos electivos</P> </a>
<hr/><hr/>


</section>
     